<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_Android_Appium">
  <test thread-count="5" name="Android_R2_Reader_App_Test">
    <classes>
      <class name="testCases.baseTest" />
      <class name="testCases.readerUITest"/>
      <class name="testCases.readerContentTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
