<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_Android_Appium">
  <test thread-count="5" name="Android_Calcutor_Test">
    <classes>
      <class name="testCases.baseTest"/>
      <class name="testCases.calculatorUITest"/>
      <class name="testCases.operatorAddTest"/>
      <class name="testCases.operatorSubtractTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
