<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="iOSAppiumSuite">
  <test thread-count="5" name="iOSAppiumTest">
    <classes>
<!-- 			<class name="appiumiOSTest.appiumHomeTest"/>
 -->			<class name="appiumiOSTest.appiumUITest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
